body {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, "Comic sans Ms";
    color:black;

}
header a {
    text-decoration: none;
    color:black;
}

h1{
font-family: Arial, Verdana, "Comic sans Ms";
font-size: 22px;
font-style: normal;
padding-left: 20px;
padding-top: 20px;
text-transform: uppercase;
}

nav li{
display: inline-block;
}
nav ul {
    text-align: right;
    margin: 20;
}
nav a:hover{
    color: black;
}
nav a {
    color: silver;
    text-decoration: none;
}

section {
display: flex; 
justify-content: space-around;
margin: auto;
background-color: red;
}

figure {
    background-color: black;
}

svg {
    display: flex;
    width: 30px;
    background-color: rgb(230,230,230);
}

figcaption{
    text-align: left;
    position: relative;
}

footer section{
    color: silver;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: baseline;
}

footer p{
text-shadow: 0px 1px 1px rgba(0,0,0,0.5); 
}

footer :hover{
    color: black;
    text-decoration: none;
}

 section figure img{
     display: block;
     block-size: 20em;
 }


