body {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, "Comic sans Ms";
    color:black;

}

header a {
    text-decoration: none;
    color:black;
}

h1{
    font-family: Arial, Verdana, "Comic sans Ms";
    font-size: 22px;
    font-style: normal;
    padding-left: 20px;
    padding-top: 20px;
    text-transform: uppercase;
}

.primaire a{
    display: inline-block;
    margin: 5px;
}

.primaire{
    text-align: right;
    margin-top: -15px;
    margin-right: 220px;
}
.primaire a:hover{
    color: black;
}
.primaire a {
    color: silver;
    text-decoration: none;
}
.secondaire {
    display: flex;
    float: right;
    opacity: 0.4;
}

.secondaire ul{
    margin-top: -33px;
    margin-right: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    padding: 0;
}

.secondaire li{
    list-style: none;
    display: inline-flex;
    margin: 0 auto;
    margin-bottom: 0;
    padding-left: 5px;
}

section {
    display: inline; 
    position: relative;
}

figure {
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
}


svg {
    display: block;    
    background-color: rgb(230,230,230);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-top: 0;
}

 section figure img{
     width: 102%;
     display: flex;
     flex-direction: row;
     justify-content:flex-start;
     block-size: 16em;
 }

main{
    width: 102%;
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    padding-top: 0px;
    
}

#container{
    width: 102%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#container :hover{
    color: white;
	background: transparent;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;
}

figure {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

img {
    display: block;
}
figcaption {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5em;
    opacity: 0;
}

figure:hover figcaption {
    opacity: 1;
}
}


figcaption{
    text-align: left;
    position: relative;
}

section .newsletter{
    margin-top: 50px;
    margin-left: 30px;
    font-weight: bold;
    text-align: center;
}

section .newsletter button{
    background-color: #cbb8b3;
    height: 30px;
    border-radius: 14px;
}

section .newsletter button:hover{
    color: black;
	background: #dacbc8;
}

a {
    color: gray;
}
a:link{
    text-decoration: none;
}

footer .backtotop{
    color: gray;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

footer .baseline{
    color: #e3dad8;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

footer .baseline a:hover{
    color:grey;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

footer .backtotop :hover{
    color:gray;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

a {
    color: gray;
}
a:link{
    text-decoration: none;
}

/* media queries*/
@media all and (max-width: 1024px){
    
    nav ul{
        width: auto;
    }
    h1{
        font-size: 1.2em;
    }
      section .newsletter{
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
  }
}

/*responsive design pour cibler les mobiles*/
@media all and (max-device-width: 480px){
           
    nav ul{
        flex-direction: column;
        width: 100%;
    }
  section .newsletter{
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  #container{
    display: flex;
    flex-direction: column;
}
}

/*sur tous types d'écran, largeur de la fenêtre comprise entre 1024px et 1280*/
@media all and (min-width: 1024px) and (max-width: 1280px){

      section .newsletter{
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
  }

}